@import "_variable";


@mixin flex_row{
    display: flex;
    flex-direction: row;
}

@mixin flex_column{
    display: flex;
    flex-direction: column;
}

@mixin section{
    @include flex_row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 200px;
    padding: 0 240px;
    font-weight: 600;
}

@mixin button{
    @include flex_row;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    color: white;
    width: 200px;
    height: 65px;
    text-decoration:none;
    &:hover{
        background-color: $mid-lt-grey;
        color: $yellow;
    }
}


@mixin media3_content{
    h4{
        width: 100%;
        font-size: 42px;
        line-height: 60px;
        color: $mid-mid-grey
        
    }
    p{
        font-size: 14px;
        font-family: $primary-font;
        line-height: 28px;
        color: $mid-lt-grey;
    }
    a{
        @include button;
    }
}

@mixin media3_image{
    position: absolute;
    border-radius: 50%;
    width: 440px;
    height: 440px;
    background-repeat: no-repeat;
    background-position: center;
}



