@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$primary-font: 'Lexend Deca', sans-serif;
$secondary-font: 'Space Mono', monospace;
$white: #ffffff;
$mid-grey: #333A44;
$mid-lt-grey: #939CAA;
$mid-mid-grey: #495567;
$yellow: #FCB72B;
$grey-accordion: #f2f5f9;
$peach: #fff4df;
