@use "../../mixins" as *;
@use "../../variable" as v;




.main5{
    .main5_item{
        width: 100vw;
        height: 720px;
        position: relative;
        font-family: v.$secondary-font;
        .content{
            position: absolute;
            left: 130px;
            top: 100px;
            width: 450px;
            height: 360px;
            @include flex_column;
            justify-content: space-around;
            @include media3_content;
          

        }
        .ımage{
            @include media3_image;
            right: 270px;
            top: 60px;
        }
        .leftdown{
            position: absolute;
            right: 0;
            top: 350px;
            z-index: 2;
        }
        .circle{
            position: absolute;
            z-index: -1;
            left: 1320px;
            top:50px
            
        }
    
    }
    /****************Main5_item1***************************/
    .main5_item1{
        width: 100vw;
        height: 720px;
        position: relative;
        font-family: v.$secondary-font;
        .content{
            position: absolute;
            right: 180px;
            top: 60px;
            width: 450px;
            height: 360px;
            @include flex_column;
            justify-content: space-around;
            @include media3_content;
          

        }
        .ımage{
            @include media3_image;
            left: 250px;
            top: 30px;

        }
        .leftdown{
            position: absolute;
            left: 0;
            top:200px;
            z-index: 2;
        }
        .circle{
            position: absolute;
            right: 1340px;
            top: 35px;
            z-index: -1;

            
        }

    }
}