@use "../../mixins" as m;
@use "../../variable" as v;
@use "../../responsive" as *;

.main9{
    margin: 65px auto ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70vw;
    height: 70vh;
    position: relative;
    .city{
        font-size: 18px;
        font-family: v.$secondary-font;
        color: v.$mid-mid-grey;
        position: absolute;
        background-color: v.$yellow;
        @include m.center;
        width: 120px;
        height: 45px;
        img{
            position: absolute;
            height: 45px;
            width: 45px;
            top: 28px;
            z-index: 2;
            
        }
    }
    .l{
        left: 27vw;
        top: 4.5vh;
    }
    .n{
        left: 11.5vw;
        top: 12vh;
    }

    .j{
        left: 51vw;
        top: 36.2vh;
    }

    .y{
        left: 56vw;
        top: 13vh;
    }

    .c{
        left: 33vw;
        top: 11vh;
    }

}





