@use "../mixins" as *;
@use "../variable" as v;
@use "../responsive" as r;

.footer{
    font-family: v.$secondary-font;
    
    .section-up{
        @include section;
        height: 275px;
        background-color: v.$mid-mid-grey;
        position: relative;

        .circles{
            position: absolute;
            z-index: 1;
            bottom: 0;
        }
        .banner{
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            @include flex_row;
            justify-content: space-around;
            align-items: center;
            width: 100vw;
            @include r.tablet{
                @include flex_column;
            }
            .title{
                color: white;
                font-size: 44px;
                font-weight: 600;
                @include r.tablet{
                    margin-bottom: 30px;
                }
            }
            .stores{
                img{
                    margin-right: 45px;
                }
                
            }
        }
        .banner{
            position: absolute
            
        }

        
    }
    .section-down{
        @include section;
        background-color: v.$mid-grey;
        height: 125px;
        @include r.tablet{
            padding: 0 100px;
         }
         @include r.mobile{
            @include flex_column;
            height: 270px
         }

        ul{
            @include flex_row;
            justify-content: space-between;
            align-items: center;
            width:450px;
            color: v.$mid-lt-grey;
            list-style:none;
            @include r.mobile{
                @include flex_column;
                height: 170px;
                justify-content: space-between;
             }

            .logo{
                font-size: 36px;
                font-weight: 700;
            }
            a{
                text-decoration:none;
                color: v.$mid-lt-grey;
                list-style:none;
                outline: none;
            }
        }
        .logos{
            @include flex_row;
            justify-content: space-between;
            align-items: center;
            width: 250px;
            @include r.tablet{
               width: 150px;
            }
            @include r.mobile{
                margin-bottom: 30px;
             }
            
        }
    }
}

