@use "../mixins" as *;
@use "../variable";
@use "../responsive" as r;


.header{
    font-family: variable.$secondary-font;
    color: variable.$mid-grey;
    @include section;
    font-weight: 600;
    @include r.tablet{
        padding: 0 75px;
    }

    }

    .logo{
        font-weight: 800;
        font-size: 32px;
    }

    ul{
        list-style:none;
        outline: none;
        @include flex_row;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        @include r.tablet{
            width: 500px;
        }
    
        
        a {
            text-decoration:none;
            color: variable.$mid-grey;
        }
        .button{
            @include button;
            @include r.tablet{
                width: 150px;
            }
           
    }
   
}
//*************HeaderMobile***********//

.headerMobile{
    font-family: variable.$secondary-font;
    color: variable.$mid-grey;
    position: relative;
    width: 100vw;
    height: 50px;

    .close{
        position: absolute;
        left: 25px;
        top: 30%;
        &:hover{
            scale: 1.1;
            cursor: pointer;;
        }
    }

    .logo{
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-30%);
    }
    .sidebar{
        background-color: variable.$mid-grey;
        z-index: 3;
        position: absolute;
        top:50px;
        left: 0;
        width: 165px;
        height: 75vh;
        padding: 35px 0;
        @include flex_column;
        align-items: center;
        justify-content: space-between;

        ul{
            @include flex_column;
            align-items: center;
            justify-content: space-around;
            li{
                margin-bottom: 15px;
                a{
                    color: rgb(210, 210, 210);
                    font-weight: 600;
                    &:hover{
                        color: rgb(255, 255, 255);
                    }
                    
                }
               
            }


        }

        .button{
            @include button;
            @include r.tablet{
                width: 135px;
            }
           
        
    }
    }

}