@use "../mixins" as *;
@use "../variable";
@use "../responsive" as r;


.header{
    font-family: variable.$secondary-font;
    color: variable.$mid-grey;
    @include section;
    font-weight: 600;
    @include r.tablet{
        padding: 0 75px;
    }

    }

    .logo{
        font-weight: 800;
        font-size: 32px;
    }

    ul{
        list-style:none;
        outline: none;
        @include flex_row;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        @include r.tablet{
            width: 500px;
        }
    
        
        a {
            text-decoration:none;
            color: variable.$mid-grey;
        }
        .button{
            @include button;
            @include r.tablet{
                width: 150px;
            }
           
    }
   
}
