@use "../../mixins" as m;
@use "../../variable" as v;
@use "../../responsive" as *;


.main1{
    color: white;
    font-family: v.$secondary-font;
    width: 100vw;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .main1__line{
        position: absolute;
        left: 0;
        top: 280px;
        @include destkop{
            display: none;
          
        }
    }
    .main1__content{
        position: absolute;
        left: 200px;
        top: 90px;
        @include destkop{
            height: 320px;
            width: 500px;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
            @include m.flex_column;
            align-items: center;
            justify-content: space-around;
        }
 

        h1{
            font-size: 52px;
        }
        p{
            font-size: 14px;
            font-family: v.$primary-font;
            position: absolute;
            line-height: 28px;
            left: 80px;
            top:170px;
            @include destkop{
                line-height: 22px;
                position: static;
    
            }
        }
        a{
            position: absolute;
            @include m.button;
            top:310px;
            left: 80px;
            @include destkop{
                position: static;
    
            }
        }
    }
    .main__left{
        position: absolute;
        right:350px;
        top:350px;
        @include destkop{
            left: -90px;

        }
        @include mobile{
            left: -285px;

        }
    }
    .circles{
        position: absolute;
        right: 0;
        top:420px;
        @include mobile{
            display: none;

        }
    }
}
